= simple_form_for @article, url: url do |f|
  = f.input :title, input_html: { maxlength: 40 }
  = f.input :text, placeholder: 'Lorem ipsum...'
  = f.input :terms_of_service, as: :boolean
  = f.button :submit
