<h1><%= @article.title %></h1>

<% if @article.user %>
  <h3><%= t('articles.show.author', default: 'Autor') %>: <%= @article.user.email %></h3>
<% end %>

<%= link_to t('articles.show.gallery', default: 'Galeria'), article_pictures_path(@article) %>

<% if can?(:create, @article.pictures.new) %>
  <%= link_to t('articles.show.new', default: 'Dodaj zdjęcia'), new_article_picture_path(@article) %>
<% end %>

<p>
  <%= @article.text.html_safe %>
</p>

<%= link_to t('articles.show.index_link'), articles_path %>

<%= simple_form_for @comment, url: article_comments_path(@article.id) do |f| %>
  <%= f.input :commenter %>
  <%= f.input :body %>
  <%= f.button :submit %>
<% end %>

<% @article.comments.reject(&:new_record?).each do |comment| %>
  <div>
    <strong><%= comment.commenter %></strong>: <%= comment.body %>
  </div>
<% end %>
