<h1><%= @picture.title %></h1>

<p>
  <%= link_to(t('pictures.edit.back', default: 'Anuluj edycję'), article_picture_path(@article, @picture)) %>
</p>

<%= simple_form_for(@picture, url: article_picture_path(@article, @picture)) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
