%h1= @picture.title
= link_to(                                                                                  |
    t('pictures.show.back_to_article', default: 'Wróć do artykułu'), article_path(@article) |
  )                                                                                         |
= link_to(                                                                                         |
    t('pictures.show.edit_link', default: 'Edytuj'), edit_article_picture_path(@article, @picture) |
  )                                                                                                |
= link_to(                                                                    |
    t('pictures.show.destroy_link', default: 'Usuń'),                         |
    article_picture_path(@article, @picture),                                 |
    method: :delete,                                                          |
    data: {                                                                   |
      confirm: t('pictures.show.delete_confirm', default: 'Na pewno usunąć?') |
    }                                                                         |
  )                                                                           |
%p
  = image_tag(@picture.image.url, alt: @picture.description)
%p= @picture.description
- # TODO: Wyciągnąć to do partiala i zastosować to samo w views/articles/show.html.erb
= simple_form_for @comment, url: article_picture_comments_path(@article.id, @picture.id) do |f|
  = f.input :commenter
  = f.input :body
  = f.button :submit
- @picture.comments.reject(&:new_record?).each do |comment|
  %div
    %strong>= comment.commenter
    \: #{comment.body}
