%nav.sticky-top.navbar.navbar-expand.navbar-dark.bg-success.mb-4
  = link_to 'Blog', root_path, class: 'navbar-brand'
  %ul.navbar-nav.mr-auto
    %li.nav-item
      = link_to t('nav.articles', default: 'Artykuły'), articles_path, class: 'nav-link'
    %li.nav-item
      = link_to t('nav.new_article', default: 'Nowy artykuł'), new_article_path, class: 'nav-link'
  %div.mr-3#js-weather
    &nbsp;
  %div
    - if user_signed_in?
      %small
        Witaj, #{current_user.email}!
      = link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-info ml-1'
    - else
      %small Witaj!
      = link_to 'Zaloguj się', new_user_session_path, class: 'btn btn-sm btn-info ml-1'
      lub
      = link_to 'użyj konta Google', user_google_oauth2_omniauth_authorize_path
