<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <% if user_signed_in? %>
        Witaj, <%= current_user.email %>!
        <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %>
      <% else %>
        Witaj!
        <%= link_to 'Zaloguj się', new_user_session_path %>
      <% end %>
    </div>
    <div class="flash">
      <% flash.each do |k, v| %>
        <div>
          <strong><%= t "flash.#{k}" %>: </strong>
          <%= v %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
